@model prjProyectoRestaurante.Models.Mesa

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mesa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NumeroMesa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroMesa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EstadoMesa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoMesa.IDEstado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReservaMesa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReservaMesa.IDReservaMesa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDMesa">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
