@model prjProyectoRestaurante.Models.Relacion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Relacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Persona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Persona.IDPersona)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDRelacion">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
